<div class="alert alert-success row">
    <br>
    <!--Search bar http://bootsnipp.com/snippets/featured/stylish-input-using-icon-font-->
    <div class="container">
        <div class="row">

        </div>

        <br>

        <!--image grid http://blackrockdigital.github.io/startbootstrap-thumbnail-gallery/-->
        <!--image from http://www.nyise.org/16Photoblog/Schermerhorn/Cooking/Lets-get-cooking-300x300.png-->
        <div ng-repeat="recipe in hc.recipes">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <span ng-bind="recipe.name"></span>
                <a class="thumbnail" href="#/{{$index}}">
                    <img class="img-responsive" ng-src={{recipe.image}} alt="Image of Dish">
                </a>
            </div>
        </div>
    </div>
</div>