<h2 align="center">Add New Recipe</h2>

<div>
    Name:
    <input type="text" style="width: 300px" placeholder="Mama's Healthy Meatloaf" ng-model="nc.name"/>
</div>

Ingredients:

<div>
    <button class="btn btn-primary" ng-click="nc.ingredients.push({name:'', qty:''})">Add Ingredient</button>

    <div ng-repeat="ingredient in nc.ingredients">
        <input type="text" placeholder="Ingredient Name" ng-model="ingredient.name"/>
        <input type="text" placeholder="Ingredient Quantity" ng-model="ingredient.qty"/>
    </div>

</div>

Instructions:
<div>
<textarea  name="instructions" id="ins" cols="30" rows="10" ng-model="nc.instructions"></textarea>
</div>

<div>
    Time to Prep:
    <input type="text" placeholder="minutes" ng-model="nc.prepTime"/>
</div>

<div>
    Time to Cook:
    <input type="text" placeholder="minutes" ng-model="nc.cookTime"/>
</div>

<div>
    <select name="category" id="cat" ng-model="nc.category">
        <option value="Appetizer">Appetizer</option>
        <option value="Entree">Entree</option>
        <option value="Dessert">Dessert</option>
    </select>

</div>

<div class="radio">
    <label><input type="radio" name="optradio" value="false" ng-model="nc.privacy">Public</label>
</div>
<div class="radio">
    <label><input type="radio" name="optradio" value="true" ng-model="nc.privacy" >Private</label>
</div>

<button type="button" class="btn btn-primary" ng-click="nc.createRecipe()">Submit</button>
