<h2 align="center">Add New Recipe</h2>

<div>
    Name:
    <input type="text" style="width: 300px" placeholder="Mama's Healthy Meatloaf"/>

</div>

Ingredients:
<div>
<textarea  name="ingredients" id="ing" cols="30" rows="10"></textarea>
</div>

Instructions:
<div>
<textarea  name="instructions" id="ins" cols="30" rows="10"></textarea>
</div>

<div>
    Time to Prep:
    <input type="text" placeholder="minutes"/>
</div>

<div>
    Time to Cook:
    <input type="text" placeholder="minutes"/>
</div>

<div>
    Recipe Category:
    <span class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li>Appetizer</li>
            <li>Entree</li>
            <li>Dessert</li>
        </ul>
    </span>
</div>

<div>
    Public:
    <input type="radio"/>
</div>

<div>
    Private:
    <input type="radio"/>
</div>

<button type="button" class="btn btn-primary">Submit</button>
