<div class="alert alert-info">
    <h3 ng-bind="rc.recipes.name"></h3>
    <div class="col-sm-6">
        <img width="100%" ng-src={{rc.recipe.image}} alt="">
    </div>
    <div class="col-sm-6">
        Prep Time: <span ng-bind="rc.recipe.prepTime"></span><br>
        Cook Time: <span ng-bind="rc.recipe.cookTime"></span>
    </div>
    <div class="col-sm-12">
        <h3>Ingredients</h3>
        <ul>
            <li ng-repeat="ingredient in rc.recipe.ingredients">
                <span ng-bind="ingredient.ingredient"></span>
                -
                <span ng-bind="ingredient.qty"></span>
            </li>
        </ul>
    </div>
    <div class="col-sm-12">
        <h3>Instructions</h3>
        <ol>
            <li ng-repeat="instruction in rc.recipe.instructions">
                <span ng-bind="instruction.instruction"></span>
            </li>
        </ol>
    </div>

    <button ng-click="rc.initRecipe()">Add Recipe</button>
</div>