<div class="alert alert-info row">
    <h2 ng-bind="rc.recipe.name" class="recipeTitle"></h2>
    <div class="col-sm-6 times">
        Prep Time: <span ng-bind="rc.recipe.prepTime"></span><br>
        Cook Time: <span ng-bind="rc.recipe.cookTime"></span>
    </div>
    <div class="col-sm-6">
        <img width="100%" ng-src={{rc.recipe.image}} alt="Image of dish">
    </div>
    <div class="col-sm-12">
        <hr>
        <h3>Ingredients</h3>
        <ul class="recIns">
            <li ng-repeat="ingredient in rc.recipe.ingredients" class="recIns">
                <span ng-bind="ingredient.ingredient"></span>
                -
                <span ng-bind="ingredient.qty"></span>
            </li>
        </ul>
    </div>
    <div class="col-sm-12">
        <hr>
        <h3>Instructions</h3>
        <ol class="recIns">
            <li ng-repeat="instruction in rc.recipe.instructions"  class="recIns">
                <span ng-bind="instruction.instruction"></span>
            </li>
        </ol>
    </div>


    <button ng-show="rc.loggedin.loggedin" class="btn btn-primary" ng-click="rc.addtoCookBook(rc.recipe.$id)">Add to Cookbook</button>
</div>